<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!-- 
  <test name="Automation.OrangeHRM.LoginTest">
  <classes>
  <class name="Automation.OrangeHRM.LoginTest"></class>
  </classes>
  </test>
  -->
  <test name="Automation.OrangeHRM.PimTest">
    <classes>
   <class name="Automation.OrangeHRM.PimTest"></class>
  </classes>
  </test>
</suite> <!-- Suite -->
